{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}
    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">
            <!-- Single Catagory -->
            {% for category, min in category_set %}
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'shop' category.slug %}">
                        <img src="{{ category.image.url }}" alt="{{ category.name }} image">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div><p>{% blocktrans with price=min.price__min|floatformat:2 %}
                            From  {{ price }} Som {% endblocktrans %}</p>
                            <h4>{{ category.name }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Product Catagories Area End -->
{% endblock %}
