{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Order' %}
{% endblock %}
{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>{% trans 'Order' %}</h2>
                        </div>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    First name
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ order.first_name }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    E mail
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ order.email }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    Address
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ order.address }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    ZIP code
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ order.zip_code }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    Phone Number
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ order.phone }}
                                </div>
                                <div class="col-12 mb-3">
                                    {{ order.comment }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Price' %}</th>
                                <th>{% trans 'Quantity' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart in order.product_set.all %}
                                <tr class="cart-item">
                                    <td class="cart_product_img">
                                        <a href="{% if cart.prodid %}{% url 'product' cart.prodid %}{% else %}#{% endif %}"><img src="{{ cart.photo }}" alt="Product"></a>
                                    </td>
                                    <td class="cart_product_desc">
                                        <h5>{{ cart.name }}</h5>
                                    </td>
                                    <td class="price">
                                        <span>{{ cart.price }}</span>
                                    </td>
                                    <td class="qty">
                                        <span>{{ cart.quantity }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>{% trans 'Order total' %}</h5>
                        <ul class="summary-table">
                            <li><span>subtotal:</span> <span>{{ order.subtotal }}</span></li>
                            <li><span>delivery:</span> <span>{{ order.delivery }}</span></li>
                            <li><span>total:</span> <span>{{ order.total }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>{% endblock %}