{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {{ product }}
{% endblock %}
{% block content %}
    <!-- Product Details Area Start -->
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a
                                    href="{% url 'shop' product.category %}">{{ product.category }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for image in product.image_set.all %}
                                    {% if forloop.counter == 1 %}
                                        <li class="active" data-target="#product_details_slider"
                                            data-slide-to="{{ forloop.counter0 }}"
                                            style="background-image: url({{ image.image.url }});">
                                        </li>
                                    {% else %}
                                        <li class="" data-target="#product_details_slider"
                                            data-slide-to="{{ forloop.counter0 }}"
                                            style="background-image: url({{ image.image.url }});">
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for image in product.image_set.all %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            <a class="gallery_img" href="{{ image.image.url }}">
                                                <img class="d-block w-100" src="{{ image.image.url }}"
                                                     alt="{{ forloop.counter }} slide">
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <a class="gallery_img" href="{{ image.image.url }}">
                                                <img class="d-block w-100" src="{{ image.image.url }}"
                                                     alt="{{ forloop.counter }} slide">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price"> {{ product.price }} Som</p>
                            <a href="{% url 'product' product.id %}">
                                <h6>{{ product.name }}</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="back-stars btn" data-toggle="modal" data-target="#mymodal"
                                     title="{% trans 'Leave your review' %}">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>

                                    <div class="front-stars" style="width: {{ product.rating }}%">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="review">
                                    <button onclick="favAdd({% url 'fav' %}, {{ product.pk }}, '{{ csrf_token }}')"
                                            class="btn btn-sm">{% trans 'Add to Favourite' %}</button>
                                </div>


                            </div>

                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i>{{ product.status }}</p>
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ product.description }}</p>
                        </div>

                        <!-- Add to Cart Form -->
                        <div class="cart clearfix">
                            <div class="cart-btn d-flex mb-50">
                                <p>Qty</p>
                                <div class="quantity">
                                    <span class="qty-minus"
                                          onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                            class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="20"
                                           name="quantity" value="1">
                                    <span class="qty-plus"
                                          onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                            class="fa fa-caret-up" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <button class="btn amado-btn"
                                    onclick="let q = $('#qty').val(); cartAdd({{ product.pk }}, {% url 'cart' %}, '{{ csrf_token }}', q)">{% trans 'Add to cart' %}</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Details Area End -->
{% endblock %}
{% block js %}

    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mymodalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mymodalLabel">{% trans 'Leave a review' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'router:rev-list' %}" method="post" id="myform" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.name }}
                            <small class="invalid-feedback">{{ form.name.help_text }}</small>
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                            <small class="invalid-feedback">{{ form.email.help_text }}</small>
                        </div>
                        <label class="control-label" for="rating">
                            <span class="field-label-header">{% trans 'Are you happy to use our product' %}?*</span><br>
                            <span class="field-label-info"></span> </label>
                        {{ form.rating }}
                        <h2 class="bold rating-header" style="">
                            <span class="selected-rating">0</span>
                            <small> / 5</small>
                            <small class="invalid-feedback">aslkdfjslfjk</small>
                        </h2>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <br>
                        <h2>
                            <small id="invalid" class="invalid-feedback">{{ form.rating.help_text }}</small>
                        </h2>
                        <div class="form-group">
                            <br>{{ form.comment }}
                            <small class="invalid-feedback">{{ form.comment.help_text }}</small>
                        </div>
                        <input type="hidden" name="product" id="id_product" value="{{ product.id }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button form="myform" type="submit" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            {#$("form").data("validator").settings.ignore = "";#}
        });
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        $('#invalid').removeClass('d-none');
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}