{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {{ this_category }}
{% endblock %}
{% block content %}
    <div class="shop_sidebar_area">

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">{% trans 'Categories' %}</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
                <ul>
                    {% for category in category_set %}
                        <li class="{% if this_category == category %} active {% endif %}"><a
                                href="{% url 'shop' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <form action="{{ request.path }}" method="get" id="myform">
            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Brands</h6>

                <div class="widget-desc">
                    {% for brand in brand_set %}
                        <!-- Single Form Check -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="brands" value="{{ brand.name }}">
                            <label class="form-check-label" for="amado">{{ brand.name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- ##### Single Widget ##### -->
            <div class="widget price mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">{% trans 'Price' %}</h6>

                <div class="widget-desc">
                    <div class="slider-range">
                        <div data-min="100" data-max="100000" data-unit="{% trans 'som' %}"
                             class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                             data-value-min="100" data-value-max="100000" data-label-result="">
                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                  style="left: 0%;"></span>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                  style="left: 100%;"></span>
                            <div class="ui-slider-range ui-corner-all ui-widget-header"
                                 style="left: 0%; width: 100%;"></div>
                        </div>
                        <div class="range-price"> 100 - 100000 {% trans 'som' %}</div>
                        <input type="hidden" name="min_val" id="min_val" value="100">
                        <input type="hidden" name="max_val" id="max_val" value="100000">
                    </div>
                </div>
            </div>
            <div class="widget">
                <button class="amado-btn">{% trans 'update' %}</button>
            </div>
        </form>
    </div>

    <div class="amado_product_area section-padding-100">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                        <!-- Sorting -->
                        <div class="product-sorting d-flex">
                            <div class="sort-by-date d-flex align-items-center mr-15">
                                <p>{% trans 'Sort by' %}</p>
                                <select name="select" id="sortBydate" form="myform">
                                    <option value="price">{% trans 'Price' %}</option>
                                    <option value="date">{% trans 'Newest' %}</option>
                                    <option value="rating">{% trans 'Popular' %}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                                <li{% if message.tags %}
                                    class="{{ message.extra_tags }} alert-dismissible"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="row">

                <!-- Single Product Area -->
                {% for product in product_set %}
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{ product.image_set.all.0.image.url }}"
                                     alt="{{ product.name }} image">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="{{ product.image_set.all.1.image.url }}" alt="">
                            </div>

                            <!-- Product Description -->

                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <a href="{% url 'product' product.slug %}">
                                    <div class="product-meta-data">
                                        <div class="line"></div>
                                        <p class="product-price">
                                            {{ product.price }} {% trans 'som' %}</p>
                                        <h6>{{ product.name }}</h6>
                                    </div>
                                </a>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <a href="{% url 'product' product.slug %}">

                                        <div class="back-stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <div class="front-stars" style="width: {{ product.rating }}%">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="cart">
                                        <button href="#"
                                                data-toggle="tooltip"
                                                data-placement="left"
                                                title="{% trans 'Add to cart' %}"
                                                style="border: none; background-color: inherit;"><img
                                                src="{% static 'img/core-img/cart.png' %}" alt=""
                                                onclick="cartAdd('{{ product.pk }}', '{% url 'cart' %}', '{{ csrf_token }}', 1)">
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}